@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
* {
  box-sizing: border-box;
}
body{
  margin: 0 auto;
  background: #fff;
  width:100%;
  font-family: 'Montserrat', sans-serif;

  background: url(../assets/img/bg.jpg) no-repeat center;
  background-size: cover;
}

/*Шапка*/
.menu{
  /*z-index: 10;
  position: fixed;*/
  background: #fff;  
  height: 65px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.2), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.menu_section{
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  line-height: 65px;
}
.menu_item > ul{
  display: flex;
  justify-content: space-between;
}
.menu_link{
  color: #000;
  text-decoration: none;
  margin-left: 20px;
  text-transform: uppercase;
  transition: .3s linear;
}
.menu_link:hover{
  color: #f0932b;
}
.logo_img{
  margin-right: 100px;
}
/*Ширина блоков*/
.blocks_width{
  max-width: 1800px;
  margin: 0 auto;
}


/*Окно резерва*/

.reserve_info{  
  background: #fff;
  height: auto; 

  margin: 50px 0;
  padding: 60px;
  text-align: center; 
}
/*Заголовок бронирования столов*/
.reserve_title{
  font-size: 30px;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.reserve_subtitle{
  font-size: 23px;
  margin-bottom: 45px;
}
/*Стилизация блока резерва столика*/
.reserve_block{
  display: flex;
  justify-content: center;
  width: 100%;
   
  margin-right: 20px;
}
/*Календарь для резерва*/

.reserve_calendar{
  width: 40%;
  height: 100%;
  line-height: 1.2em;
  font-size: 25px;
  text-align: center;
}


/*Выбранная дата резерва*/
.reserve_date{
  margin-left: 45px;
  
}

.date_title{
  font-weight: 700;
  font-size: 23px;
  margin-bottom: 28px;
}
.date_time{
  color: #718093;
  font-size: 20px;
  margin-bottom: 20px;
}
.date_time_buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.date_time_button{
  border: 1px solid #f0932b;
  border-radius: 50%;
  padding: 10px 24px;
  transition: .2s linear;
  margin-top: 20px;
}
.active{
  background: #f0932b;
  color:#fff;
}
.date_time_button:hover{
  background: #f0932b;
  color:#fff;
  cursor: pointer;
}
.date_time_description{
  text-align: left;
  line-height: 34px;
  margin:  25px 0 35px;
  font-size: 17px;
}
/* Блок со столами */
.reserve_tables{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* Блок с маленькими столами */
.reserve_small_table_double{
  display: flex;
  justify-content: space-around;
 
}
/* Отступ нижних блоков  */
.reserve_big_table_double:last-child, .reserve_small_table_double:last-child{
  margin-top: 19px;
}
.allTables{
    transition: .4s linear;
}
.activeTable{
  -webkit-box-shadow: 6px -1px 37px 12px rgba(244, 168, 45, 0.2);
  -moz-box-shadow: 6px -1px 37px 12px rgba(244, 168, 45, 0.2);
  box-shadow: 6px -1px 37px 12px rgba(244, 168, 45, 0.2);
  border-radius: 50%;
}
.mlTable{
  margin-left: 50px;
}
/* Параметры стола для 2 человек*/
.table_4{
  /* width: 284px;
  height: 273px;  */
  width: 277px;
  height: 251px; 
  margin-left: 20px;
  
}
/*Параметры стола для 4 человек*/
.table_5{
  width: 277px;
  height: 251px; 
}
/*Параметры стола для 6 человек*/
.table_6{
  /* width: 343px;
  height: 234px; */
  /* width: 277px;
  height: 251px;  */
  margin-right: 19px;
}
/*Параметры стола для 8 человек */
.table_10{
  width: 303px;
  height: 305px; 
}
.title_room{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}

/*Подвал*/
.footer{
  margin-top: 50px ;
  height: 300px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.footer_menu p{
  margin-top: 20px;
}
.footer_link{
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s linear;
}
.footer_link:hover{
  color: #f0932b;
}


/*календарь*/
.reserve_calendar thead tr:last-child {
  font-size: small;
  color: rgb(85, 85, 85);
}
.reserve_calendar thead tr:nth-child(1) td:nth-child(2) {
  color: rgb(50, 50, 50);
  
}
.reserve_calendar thead tr:nth-child(1) td:nth-child(1):hover, .reserve_calendar thead tr:nth-child(1) td:nth-child(3):hover {
  cursor: pointer;
}
.reserve_calendar tbody td {
  color: rgb(44, 86, 122);
}
.reserve_calendar tbody td:nth-child(n+6), .reserve_calendar .holiday {
  color: #f0932b;
}
.reserve_calendar tbody td.today {
  background: green;
  border-radius: 50%;
  color: #fff;
}
/* .reserve_calendar tbody td:hover{
  border:  1px solid green;
  border-radius: 50%;  
} */
